h1 {
  color:blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
li{
  font-size: 12;
  font-family: cursive;
  background-color: #ACDCBE  ;
}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
}
